<div class="container">
<h2>Kontodaten bearbeiten</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group" id="registration_edit_form">
    <%= f.label :email,"Email:" %>
    <%= f.email_field :email, autofocus: true, class: "form-control"  %>
    <br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


    <%= f.label :password, "Passwort:" %> <i>(Nicht ausfüllen, wenn Sie es nicht ändern wollen)</i> <br>
    <% if @minimum_password_length %>
    <em> Mindestens <%= @minimum_password_length %> Zeichen</em>
  <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>

   <br />

    <%= f.label :password_confirmation,"Passwort bestätigen:" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
    <br>
    <%= f.label :current_password, "derzeitiges Passwort:" %> <i>(Ihr derzeitiges Passwort ist benötigt um Änderungen vorzunehmen)</i>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control"  %>
    <br />
    <%= f.label :company_name, "Firmenname:" %>
    <%= f.text_field :company_name, class: "form-control"  %>
    <br />

    <%= f.submit "Änderungen vornehmen" , class: "btn btn-primary"%>
<% end %>

<br>
<br>
<p>Unzufrieden? <%= button_to "Konto löschen", registration_path(resource_name), data: { confirm: "Sind Sie sicher?" }, method: :delete%> </p>

<%= link_to "Zurück", :back %>
</div>
