<div class="container">
  <div class="line-separator"></div>
    <h2 class="profile_title"> <%= @user.company_name %></h2>
  <div class="line-separator"></div>
  <br>


  <div class="row">

    <div class="col-md-5", style="border-right: 1px solid #e2e2e2" id="profile-picture">
        <%= image_tag(@user.image.url(:medium), class:"img-thumbnail") %><br>

          <% if @user == current_user %>
          <%= form_for current_user, html: {multipart: true, class: "form-inline"} do |f| %>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" id="change-profile-picture-btn">Bild ändern</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" >&times;</button>
                    <h4 class="modal-title">Profilbild ändern</h4>
                  </div>
                  <div class="modal-body">
                    <p>Bitte suchen Sie sich Ihr Profilbild aus.</p>
                    <span class="btn btn-default btn-file">
                    Bild aussuchen<%= f.file_field :image%>
                  </span>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit 'Bild hochladen', class: "btn btn-default btn-primary" %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                  </div>
                </div>

              </div>
            </div>

          <% end %>
          <% end %>
        </div>


<div class=col-md-7>
<div class="company_information">
<div class="information_header">
  <span> Beschreibung </span><br>
</div>
<ul class="company-information-list">
<li class="company_information_details <%= :current_user if @user == current_user %>" data-label="Info:"><%= best_in_place_if (@user==current_user), @user, :description, as: :textarea, :inner_class => "best_in_place_class"%>
  <% if @user == current_user %>
    <span class="pencil glyphicon glyphicon-pencil" aria-hidden="true"></span>
  <% end %>
  <br><br>
</li>
</ul>
<br>

<div class="information_header">
  <span> Addresse </span>
</div>
<ul class="company-information-list">
<li class="company_information_details <%= :current_user if @user == current_user %>" data-label="Straße: "><%= best_in_place_if (@user==current_user), @user, :street %>
<% if @user == current_user %>
    <span class="pencil glyphicon glyphicon-pencil" aria-hidden="true"></span>
<% end %>
<br>
</li>

<li class="company_information_details <%= :current_user if @user == current_user %>" data-label="Stadt: "><%= best_in_place_if (@user==current_user), @user, :city %>
  <% if @user == current_user %>
    <span class="pencil glyphicon glyphicon-pencil" aria-hidden="true"></span>
  <% end %>
  <br>
</li>


<li class="company_information_details <%= :current_user if @user == current_user %>" data-label="PLZ:"><%= best_in_place_if (@user==current_user), @user, :postcode %>
<% if @user == current_user %>
  <span class="pencil glyphicon glyphicon-pencil" aria-hidden="true"></span>
<% end %>
</li>
<br>
<li class="company_information_details <%= :current_user if @user == current_user %>" data-label="Land: "> <%= best_in_place_if (@user==current_user), @user, :country %>
<% if @user == current_user %>
  <span class="pencil glyphicon glyphicon-pencil" aria-hidden="true"></span>
<% end %>
<br>
</li>
</ul>
<br>
<div class="information_header">
  <span> Kontakt </span>
</div>
<ul class="company-information-list">
<li class="company_information_details <%= :current_user if @user == current_user %>" data-label="Tel: "><%=best_in_place_if (@user==current_user), @user, :contact_number %>
<% if @user == current_user %>
    <span class="pencil glyphicon glyphicon-pencil" aria-hidden="true"></span>
<% end %>
<br>
</li>
<li class="company_information_details" data-label="Email: "><%= @user.email %>
</br>
</li>
</ul>
</br>
<%= link_to "Der aktuelle Lagerbestand", user_stocks_path(@user) %>
</div>








</div>
</div>
</div>
