<div class="container">
  <h1> Sie bearbeiten ihr Produkt: <%= @product.name %> </h1>
<%= form_for [current_user, @product] do |form| %>
  <div class="form-group">
    <%= form.label :name, "Produktsorte:" %>
    <%= form.text_field :name, class: "form-control"%> <br>

    <%= form.label :country_of_origin, "Herkunftsland:" %>
    <%= form.text_field :country_of_origin,class: "form-control" %> <br>

    <%= form.label :boxsize, "Paketgröße:"%> <i>(Kg pro Kiste oder Palette) </i>
    <%= form.text_field :boxsize, class: "form-control" %><br>

    <%= form.label :boxprice, "Paketpreis:" %> <i>(€)</i>
    <%= form.text_field :boxprice, class: "form-control" %><br>

    <%= form.label :product_class, "Produktklasse:" %> <i> A, B, C oder 1, 2, 3 </i>
    <%= form.text_field :product_class, class: "form-control" %><br>

  <%= form.submit "Produkt aktualisieren", class: "btn btn-primary" %>
</div>
<% end %>
</div>
