<header class="nav navbar navbar-default">
  <div class="navbar-class">
    <div class="container">
        <li class="navbar-brand"><%=link_to "Stockr", authenticated_root_path %></li>
        <li> </li>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a><%= "#{current_user.email}"%></a></li>
            <li><%= link_to "Mein Profil", user_path(current_user), 'data-no-turbolink' => true%> </li>
            <li> <%= link_to "Account bearbeiten", edit_user_registration_path %></li>

            <li><%=link_to "Abmelden", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Anmelden", new_user_session_path %></li>
            <li id= 'signup'><%= link_to "Registrieren", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>
  </div>
</header>
